name: CI Tests
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      openldap:
        image: osixia/openldap:latest
        ports:
          - "389:389"
          - "636:636"
        env:
          LDAP_ORGANISATION: example
          LDAP_DOMAIN: example.org
          LDAP_ADMIN_USERNAME: admin
          LDAP_ADMIN_PASSWORD: admin
          LDAP_CONFIG_PASSWORD: config_pass
          LDAP_BASE_DN: "dc=example,dc=org"
          BITNAMI_DEBUG: true
          LDAP_REMOVE_CONFIG_AFTER_SETUP: false
          LDAP_ENABLE_TLS: true
          LDAP_LDAPS_PORT_NUMBER: 636
          LDAP_TLS_CERT_FILE: /container/service/slapd/assets/certs/ldap.crt
          LDAP_TLS_KEY_FILE: /container/service/slapd/assets/certs/ldap.key
          LDAP_TLS_CA_FILE: /container/service/slapd/assets/certs/ca.crt
          LDAP_TLS_VERIFY_CLIENT: try
    env:
      BATON_PASSWORD: admin
      BATON_BASE_DN: 'dc=example,dc=org'
      BATON_USER_DN: 'CN=admin,DC=example,DC=org'
      BATON_URL: 'ldaps://localhost'
      BATON_INSECURE_SKIP_VERIFY: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: '21.x'
      - name: Install ldapadd
        run: sudo apt update && sudo apt install ldap-utils
      - name: Create ldif files
        run: node ./scripts/ldif.js && ls -la
      - name: Import ldif into openldap
        run: ./scripts/import.sh
      - name: Build baton-ldap
        run: go build ./cmd/baton-ldap
      - name: Grant/revoke
        uses: ConductorOne/github-workflows/actions/sync-test@v2
        with:
          connector: ./baton-ldap
          baton-entitlement: 'group:cn=testgroup00000,dc=example,dc=org:member'
          baton-principal: 'cn=testuser00099@example.com,dc=example,dc=org'
          baton-principal-type: user
      - name: Create account
        env:
          ACCOUNT_DISPLAYNAME: 'Example User'
          CREATE_ACCOUNT_FLAGS: >-
            --create-account-login="example-user" --create-account-profile='{"rdnKey":"cn","rdnValue":"example-user","path":"","suffix":"dc=example,dc=org","objectClass":["top","person"],"additionalAttributes":{"cn":"Example User","sn":"User"}}'
        run: ./baton-ldap ${{ env.CREATE_ACCOUNT_FLAGS }}
      - name: Check account was created
        id: check_account
        run: |-
          ./baton-ldap
          CREATED_ACCOUNT_ID=$(baton resources --output-format=json | jq -r --arg name "Example User" '.resources[] | select(.resource.displayName == $name) | .resource.id.resource')
          echo "account_id=$CREATED_ACCOUNT_ID" >> $GITHUB_OUTPUT
          [ -n "$CREATED_ACCOUNT_ID" ]
